* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFFFFF;
    --black: #111111;
    --full-black: #000000;
    --light-blue: #48B9EA;
    --dark-blue: #0F416A;
}

body {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Banner */
.banner {
    background: var(--dark-blue);

    padding: 8px 9.4%;
    gap: 10px;

    width: 100%;
    height: 36px;
}

.banner .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.banner .banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    width: 100%;
}

.banner a {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    margin-left: auto;
    text-decoration-line: underline;
}

/* Navbar */
.navbar {
    background: var(--white);
    color: var(--black);
    padding: 12px 128px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    min-width: 117px;
    min-height: 42px;
}

.navbar .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .directory {
    padding: 12px 0 12px 12px;
    display: block;
    color: var(--black);
}

.navbar ul li img {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    display: block;
}

.order-btn {
    padding: 12px 12px 12px 12px;
    display: block;
    font-size: 16px;
    font-weight: 600;
}

/* Hero */
.hero {
    position: relative;
    background: url(../images/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 328px 8.8% 128px 8.8%;
    gap: 129px;
    isolation: isolate;
    
    height: 660px;
    width: 100%;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8.8% 0 0 0;
    gap: 8.8%;
    isolation: isolate;
    
    width: 100%;
    height: 660px;
    z-index: 2;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 22.7% 0 19% 0;
    gap: 40px;
    width: 55%;
    height: 30%;
}

.hero-heading {
    font-family: 'Rubik';
    font-size: 52px;
    font-weight: 400;
    line-height: 131%;
    width: 798px;
    height: 104px;
    color: var(--white);
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.hero-btn {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 18px;
    height: 60px;
    padding: 16px 24px 16px 24px;
    gap: 8px;
    border-radius: 100px;
}

.hero .dots {
    margin-top:auto;
    width: 128px;
    height: 8px;
    min-width: 128px;
    min-height: 8px;
}

/* Logo Title */
.logo-title {
    width: 100%;
    background: linear-gradient(270deg, var(--dark-blue) 40%, var(--light-blue) 115%);
}

.logo-title .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 128px;
    border-radius: 0px;
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.logo-title-content {
    display: flex;
    align-items: center;
}

.logo-title-content .title {

    font-family: 'Rubik';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: var(--white);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* Product Cards */
.products {
    width: 100%;
}

.products .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 128px;
    gap: 40px;
}

.products .container .title {
    height: 41px;
    padding: 0 0 40px 0;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--black);
}

.products .container .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.products .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;

    width: 576px;
    height: 371px;

    background: #F4F4F4;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    border-radius: 16px;
}

.products .product-title {
    width: 496px;
    height: 29px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 52px;
    color: var(--black);
}

.products .product-text {
    width: 496px;
    height: 65px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #525252;

    flex-grow: 1;
}

/* Testimonials */
.testimonials {
    position: relative;
    background: url(../images/testimonials-bg.png) no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 128px 0;
    isolation: isolate;
    
    height: fit-content;
    width: 100%;
}

.testimonials::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.testimonials .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 3%;
    gap: 40px;
    isolation: isolate;
    z-index: 2;
    width: 82%;
}

.testimonials .header {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.testimonials .title {
    height: 48px;
    width: 417px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 68px;
    text-align: start;
    color: var(--white);
}

.testimonials img {
    width: 88px;
    height: 48px;
    margin-left: auto;
}

.testimonials .review-text {

    width: 300px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: var(--black);

    padding-bottom: 52px;
}

.testimonials .link {
    color: var(--light-blue);
}

.testimonials .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    align-self: first baseline;
}

.testimonials .avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.testimonials .review-author {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
}

/* News */
.news {
    width: 100%;
    padding: 5% 0;
    gap: 129px;
}

.news .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 3%;
    gap: 32px;
    height: fit-content;
    width: 82%;
}

.news .title {
    height: 41px;
    padding: 0 0 32px 0;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 68px;
    text-align: start;
    letter-spacing: -0.02em;
    color: #000000;
}

.news .subtitle {
    height: 41px;
    padding: 0 0 64px 0;

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--black);
}

.news .news-date {
    height: 10px;
    padding-bottom: 18px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--white);
    z-index: 2;
}

.news .news-title {
    width: 330.67px;
    height: 51px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;

    align-self: flex-start;
    flex-grow: 3;
    z-index: 2;
}

.news-btn {
    margin: 0 auto;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--white);

    align-self: flex-start;
    z-index: 2;
}

.news .canada {
    background: url(../images/canada.png) no-repeat center;
    background-size: auto 100%;
}

.news .source {
    background: url(../images/source.png) no-repeat center;
    background-size: auto 100%;
}

.news .enfit {
    background: url(../images/enfit.png) no-repeat center;
    background-size: auto 100%;
}

.news .card::after {
    background: linear-gradient(103deg, rgba(0, 0, 0, 0.55) 6.59%, rgba(0, 0, 0, 0) 102.5%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    z-index: 1;
}

/* Contact Banner */
.contact {
    width: 100%;
}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 128px;
    gap: 64px;

    width: 100%;
    height: 434px;

    background: linear-gradient(268.88deg, var(--dark-blue) -3.15%, var(--light-blue) 97.78%), var(--light-blue);
}

.contact .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 53%;
}

.contact .banner-content:first-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--white);
}

.contact .banner-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: var(--white);

    padding-bottom: 64px;
}

/* Footer */
.footer {
    width: 100%;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding:4% 10%;
    background: var(--white);
    color: var(--black);
}

.footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

.footer .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px;
    max-width: 365px;
}

.footer .exclamation {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
}

.footer .footer-logo:nth-child(3) {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

.footer .footer-social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 24px;
}

.footer .footer-social li {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 32px;
    margin-left: auto;
}

.footer .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 37.5px;
}

.footer .footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px;
    width: 165px;
}

.footer .footer-heading {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.footer .footer-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px;
}

.footer .footer-menu li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.footer .copyright {
    margin: 0 auto;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #7C7C81;
}

/* Utility Classes */
.container {
    max-width: 100%;
    margin: auto;
}

/* Cards */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white);
    border-radius: 15px;
    padding: 20px;
    min-height: 300px;
    position: relative;
}

.card-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

/* Buttons */
.btn {
    padding: 13px 20px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: 0.8;
}

.btn-light {
    background: var(--light-blue);
    color: var(--white) !important;
}

.btn-dark {
    background: var(--dark-blue);
    color: var(--white) !important;
}

.btn-trans {
    background: transparent;
    color: var(--white) !important;
    border: 1px solid var(--white);
}